.navbar {
  background-color: #f0f0f0;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  float: left;
}

.navbar-link {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-link:hover {
  background-color: #ddd;
}
